<div *ngIf="this.todo" class="todo-item">

  <div class="todo-name">
    <div *ngIf="!editMode">{{this.todo.name}}</div>
    <div *ngIf="editMode && editingTodo" >
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="editingTodo.name" placeholder="Enter Task">
      </mat-form-field>
    </div>
  </div>

  <div class="todo-buttons">
    <button *ngIf="this.todo.isCompleted==true" (click)="onUncomplete(this.todo.id!)">
      <img class="button-icon" src="icons/check.png">
    </button>
    <button *ngIf="this.todo.isCompleted==false" (click)="onComplete(this.todo.id!)">
      <img class="button-icon" src="icons/uncheck.png">
    </button>
    <button *ngIf="!editMode" (click)="onEdit(this.todo.id!)">
      <img class="button-icon" src="icons/edit.png">
    </button>
    <button *ngIf="editMode" (click)="onEdit(this.todo.id!)">
      <img class="button-icon" src="icons/submitEdit.png">
    </button>
    <button (click)="onDelete(this.todo.id!)">
      <img class="button-icon" src="icons/delete.png">
    </button>
  </div>

</div>
